<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="row justify-content-center">
                    <h1 class="text-uppercase text-center">Редактировать платье</h1>
                    <h3 th:text="${dressName}"></h3>
                </div>
                <form th:action="@{/dress/{dressName}/edit(dressName=${dressName})}"
                      th:method="post"
                      th:object="${form}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="category">Категория</label>
                        <select id="category"
                                name="category"
                                th:field="*{category}"
                                th:errorclass="is-invalid"
                                class="form-control">
                            <option value="" disabled>Выберите категорию</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category}"
                                    th:text="${category}"
                                    th:selected="${category} == *{category}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('category')}"
                               th:errors="*{category}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="name">Наименование</label>
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               id="name"/>
                        <small th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Цена</label>
                        <input th:field="*{price}"
                               th:errorclass="is-invalid"
                               type="number"
                               class="form-control"
                               id="price"/>
                        <small th:if="${#fields.hasErrors('price')}"
                               th:errors="*{price}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Описание</label>
                        <textarea th:field="*{description}"
                                  th:errorclass="is-invalid"
                                  class="form-control"
                                  id="description"
                                  rows="4"></textarea>
                        <small th:if="${#fields.hasErrors('description')}"
                               th:errors="*{description}"
                               class="text-danger">Error message</small>
                    </div>

                    <button type="submit" class="btn btn-secondary btn-sm">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>