<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="row justify-content-center">
                    <h2 class="text-uppercase text-center">Cоздайте свой яркий и неповторимый образ!</h2>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="row justify-content-center">
                        <div th:each="category : ${model.categories}" class="col-md-3 col-sm-6 mb-4">
                            <a sec:authorize="!isAuthenticated()" th:href="@{/user/login}"
                               class="btn btn-primary w-100 py-5 fs-4" th:text="${category}">
                            </a>

                            <a sec:authorize="hasRole('CLIENT')" th:href="@{/dress/{categoryName}(categoryName=${category})}"
                               class="btn btn-primary w-100 py-5 fs-4" th:text="${category}">
                            </a>

                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/dress/admin/{categoryName}(categoryName=${category})}"
                               class="btn btn-primary w-100 py-5 fs-4" th:text="${category}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
